<!-- displayed on laptops -->
<div class="navbar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536918242710-881151fb107f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1383&q=80);">
  <%= link_to "Add a New Cocktail", new_cocktail_path, class: 'btn btn-gradient'%>
  <h3 class="glow">Miss Mocktail</h3>
</div>




<h1>Editing a Cocktail</h1>

<%= render 'form', cocktail: @cocktail %>

<%= link_to 'Show', @cocktail %> |
<%= link_to 'Back', cocktails_path %>
