<p id="notice"><%= notice %></p>

<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536918242710-881151fb107f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1383&q=80);">
    <div class="container">
      <h1 class="glow">Miss Mocktail</h1>
      <p>Mocktails <strong>can</strong> be <strong>funny</strong>!</p>
    </div>
  </div>

  <br>

  <%= link_to "Add a New Cocktail", new_cocktail_path, class: 'btn btn-gradient'%>

  <br>

  <div class="cards">

      <ul> <% @cocktails.each do |cocktail| %>
        <li>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523905179092-38c52d029c9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1480&q=80)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </li>
        <%= link_to "<i class='far fa-eye'></i>".html_safe, cocktail %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<br>

