// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
body {
  font-family: 'PT Serif', serif;
}

.bar {
  display: flex;
  justify-content: space-between;
}

.cocktails-show-container {
  display: flex;
  justify-content: space-around;
}

.cocktail-title {
  text-align: center;
}

.cocktails-picture {
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cocktails-container {
  color: #082444;
  h1, h3, h4 {
    font-size: 30px;
  }
}
