.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536918242710-881151fb107f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1383&q=80);
  // background: #082444;
  // opacity: 0.7;
  padding: 16px 24px;
}

.navbar .navbar-actions {
  display: flex;
  align-items: center;
}

// .navbar .navbar-actions .navbar-link {
//   margin-left: 24px;
//   color: #999999;
// }
// .navbar .navbar-actions .navbar-link:hover {
//   color: #151515;
// }
